﻿.cbp-popup-singlePage {
    background: white;
    padding: 0;
}
.cbp-popup-singlePage {
    left: 100%;
    -webkit-transition: left .6s ease-in-out;
    transition: left .6s ease-in-out;
}
.cbp-popup-singlePage-open {
    left: 0;
}
.cbp-popup-singlePage.cbp-popup-singlePage-fade {
    left: 0;
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}
.cbp-popup-singlePage-open.cbp-popup-singlePage-fade {
    opacity: 1;
}
.cbp-popup-next, .cbp-popup-prev, .cbp-popup-close {
    padding: 0;
    border: medium none;
    position: absolute;
    cursor: pointer;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cbp-popup-next, .cbp-popup-prev, .cbp-popup-close {
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
.cbp-popup-singlePage .cbp-popup-prev {
    background: url(images/cbp-sprite.png) no-repeat scroll 0 -92px transparent;
    width: 44px;
    height: 44px;
    margin: auto;
    top: 0;
    right: 108px;
    bottom: 0;
    left: 0;
}


.cbp-popup-singlePage .cbp-popup-next {
    background: url(images/cbp-sprite.png) no-repeat scroll -46px -92px transparent;
    width: 44px;
    height: 44px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 108px;
}


.cbp-popup-singlePage .cbp-popup-close {
    background: url(images/cbp-sprite.png) no-repeat scroll -92px -92px transparent;
    height: 44px;
    width: 44px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cbp-popup-singlePage-counter {
    color: #bbc0df;
    position: absolute;
    margin: auto;
    right: 50px;
    top: 0;
    bottom: 0;
    font: 400 18px/30px "Open Sans", sans-serif;
    height: 30px;
}

.cbp-popup-singlePage .cbp-popup-navigation {
    position: relative;
    width: 100%;
    height: 100%;
}
