﻿html
{    
    overflow:auto;
}
body{
    background-color:#353535;
}
div.jp-type-playlist div.jp-playlist a {
    display:table;    
    width:100%;
    clear:both;
}

div.jp-type-playlist div.jp-playlist a .item-title{    
    height:35px;
    padding-left:8px;
    display:table-cell;
    vertical-align:middle;
}

.jp-playlist-item-thumb {
    display:table-cell;
    width:64px;
    height:35px;    
}
.page-container{
    margin:auto; 
}
.player-width {
    width: 100%
}

.player-height {
    height: auto;
}


.playlist-header{
    color: #fff;
    display: block;
    font-size: 15px;
    padding:20px 0;
    margin:0 5px;
    border-bottom:1px solid #666;

}
.playlistWrapper ul {
    background-color: #1A1A1A;    
    counter-reset: playlist-video-section;   
    overflow: auto;       
}

.watch-playlist {            
    z-index: 3;
    -moz-transition: transform .3s ease-in-out;
    -webkit-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;    
    background-color:#1A1A1A;
}

.slimScroll
{
    height:200px;
}

div.jp-type-playlist div.jp-interface ul.jp-controls a.jp-play, div.jp-type-playlist div.jp-interface ul.jp-controls a.jp-pause
{
    left:40px;
}
div.jp-interface ul.jp-controls a.jp-next
{
    left:80px;
}
div.jp-video div.jp-type-playlist div.jp-interface ul.jp-toggles a.jp-shuffle, div.jp-video div.jp-type-playlist div.jp-interface ul.jp-toggles a.jp-shuffle-off
{
    display:none!important;
}
