﻿html
{
    min-width:1000px;
    overflow:auto;
}
body{
    background-color:#353535;
}
div.jp-type-playlist div.jp-playlist a {
    display:table;    
    width:100%;
    clear:both;
}

div.jp-type-playlist div.jp-playlist a .item-title{    
    height:35px;
    padding-left:8px;
    display:table-cell;
    vertical-align:middle;
}

.jp-playlist-item-thumb {
    display:table-cell;
    width:64px;
    height:35px;    
}
.page-container{
    margin:auto;
    width:970px;
    min-width:970px;
}
.player-width {
    width: 640px
}

.player-height {
    height: 360px
}

.playlistWrapper {
        max-width: 1066px
    }
.playlist-header{
    color: #fff;
    display: block;
    font-size: 15px;
    padding:20px 0;
    margin:0 5px;
    border-bottom:1px solid #666;
    line-height:1.3;

}
.playlistWrapper ul {
    background-color: #1A1A1A;
    bottom: 0;
    counter-reset: playlist-video-section;
    left: 0;
    overflow: auto;
    right: 0;
    position: absolute;
    top: 10px;
}

.watch-playlist {    
    margin-left: -9px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    -moz-transition: transform .3s ease-in-out;
    -webkit-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    left: 649px;
    background-color:#1A1A1A;
}

@media screen and (max-width: 656px) {
    .player-width {
        width:426px
    }

    .player-height {
        height: 240px
    }
}

@media screen and (min-width: 1200px) {
    .player-width {
        width:854px
    }

    .player-height {
        height: 480px
    }

     .playlistWrapper {
        max-width: 1280px
    }

     .watch-playlist {
    left: 863px;
}
    .page-container {
        width:1170px;
    }
}


