﻿.parent {
    max-width: 1024px;
    margin: 0 auto 20px;
}

.background {
    background-image: url(/Content/pics/1.jpg);
    background-size: cover;
    background-position: top;
    padding-bottom:20px;
}

.hero_text {
    padding-left: 0;
    padding-right: 0;
    margin: 20px auto;
    font-size: 27px;
    color: #000000;
    font-family: 'Lato', sans-serif;
    padding-top: 10px;
}

#download-webapp
{

}
#part-2-downhub
{
    margin-top:90px;
}
 .hero_app_link {
    margin-top: 10px;
}
  .hero_app_link img {
        display: inline-block !important;
    }

 .l-v-top-padded {
    padding-top: 20px;
}
 .l-flex-row {
    display:block;
}
@media only screen and (min-width: 480px)
{
  .l-flex-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
}

.l-text-align-center {
    text-align: center !important;
}
 .l-h-padded {
    padding-left: 20px;
    padding-right: 20px;
}
 .l-v-spaced {
    margin: 20px 0;
}
.l-v-bottom-half-spaced {
    margin-bottom: 10px;
}

#parent-promote-app .strong {
    font-weight: 600 !important;
}

 .large-font{
    font-size: 18px;
    font-size: 1.38462rem;
    line-height: 23px;
    line-height: 1.76923rem;
}
.l-rel {
    position: relative !important;
}




.crd-gray {
    background: #eef2f5;
    border: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

 .hor {
    position: relative;
    height: 0;
    border-bottom: 1px solid #dadde1;
    overflow: visible;
    margin: 20px 0;
}

#download-webapp{
    padding-top:6em;
}

 #hubname-logo{
    vertical-align: -webkit-baseline-middle;
}

#hublogo{
   text-align:center;
    width: 80px;
    height: 80px;
    margin-top: 20px;
    border: 1px solid #CCC;
    border-radius: 9px !important;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 5px;
    text-align: center;
    display:initial !important;
}

 #pool-mobileapp{
     width:350px;height:450px;margin:0 auto;position:relative;padding-top:3em;
 }
@media only screen and (max-width:320px) {
    #pool-mobileapp {
        transform: scale(0.8,0.8);
        margin-left: -60px;
    }
}

@media only screen and (max-width:375px) {
  #pool-mobileapp {
        transform: scale(0.8,0.8);
        margin-left: -40px;
    }
}
@media only screen and (max-width:414px) {
    #pool-mobileapp {
        transform: scale(0.8,0.8);
        margin-left: -20px;
    }
}
@media only screen and (max-width:360px) {
    #pool-mobileapp {
        transform: scale(0.8,0.8);
        margin-left: -40px;
    }
}