﻿body {
    background-color: #f6f6f6 !important;
}

/**{
    border-radius:0px!important;
}*/
a {
    color: #0094D9;
}

.btn-default {
    background-color: #EEE;
}

.btn-block + .btn-block {
    margin-top: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

.box-header {
    font-weight: 700;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-header {
    float: none;
}

.navbar-brand {
    float: none;
    padding: 0 15px;
}

    .navbar-brand img {
        max-height: 60px;
        display: inline-block;
    }

        .navbar-brand img + span {
            font-size: 24px;
            color: #0094D9;
        }

.label {
    color: #333;
    padding: 5px 0 0;
    font-size: 13px;
}

.mobile-container {
    margin: auto;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 10px;
}

.spacing-small {
    margin-top: 8px;
}

.divider {
    text-align: center;
    position: relative;
    top: .2rem;
    padding-top: .1rem;
    margin-bottom: 1.3rem;
    line-height: 0;
}

    .divider h5 {
        line-height: 1;
        font-size: 1.3rem;
        color: #767676;
        font-weight: 400;
        z-index: 2;
        position: relative;
        display: inline-block;
        background-color: #f6f6f6;
        padding: 0 1rem 0 .9rem;
    }

    .divider:after {
        content: "";
        width: 100%;
        background-color: transparent;
        display: block;
        height: 1px;
        border-top: 1px solid #e7e7e7;
        position: absolute;
        top: 50%;
        margin-top: 0;
        z-index: 1;
    }

.btPay, .btPayCard {
    
    padding:10px;
}

.payment-img {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;    
}

.item-description {
    overflow:hidden;
}
    .item-description img {
        max-width:90%;
        margin:auto;
        display:block;
    }

    .box-size-image {
        border-radius: 50% !important;
        width: 40px;
        height: 40px;
    }
.payment-info {
    display: table-cell;    
    white-space:normal;
    text-align:left;
}


.icon-btn {
    height: 60px;
    width: 110px;
    margin: 5px 5px 0 0;
    padding: 3px;
    background-color: #fafafa;
    background-image: none;
    color: #646464;
    text-shadow: none;
    text-align: center;
    position: relative;
    display:inline-block;
    border: 0;    
    background-color: white !important;
    box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18)
}
.icon-btn, .icon-btn:hover {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.icon-btn
{
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
}
    
    .icon-btn:hover {
        box-shadow: 0 3px 6px rgba(0,0,0,.2),0 3px 6px rgba(0,0,0,.26)
    }
    .icon-btn img {
        width:100%;
    }

i.VISA, i.MASTE, i.AMREX, i.JCB, i.VCB, i.TCB, i.MB, i.VIB, i.ICB, i.EXB, i.ACB, i.HDB, i.MSB, i.NVB, i.DAB, i.SHB, i.OJB, i.SEA, i.TPB, i.PGB, i.BIDV, i.AGB, i.SCB, i.VPB, i.VAB, i.GPB, i.SGB, i.NAB, i.BAB {
    width: 80px;
    height: 30px;
    display: block;
    background: url(images/bank_logo.png) no-repeat;
}

i.MASTE {
    background-position: 0px -31px;
}

i.AMREX {
    background-position: 0px -62px;
}

i.JCB {
    background-position: 0px -93px;
}

i.VCB {
    background-position: 0px -124px;
}

i.TCB {
    background-position: 0px -155px;
}

i.MB {
    background-position: 0px -186px;
}

i.VIB {
    background-position: 0px -217px;
}

i.ICB {
    background-position: 0px -248px;
}

i.EXB {
    background-position: 0px -279px;
}

i.ACB {
    background-position: 0px -310px;
}

i.HDB {
    background-position: 0px -341px;
}

i.MSB {
    background-position: 0px -372px;
}

i.NVB {
    background-position: 0px -403px;
}

i.DAB {
    background-position: 0px -434px;
}

i.SHB {
    background-position: 0px -465px;
}

i.OJB {
    background-position: 0px -496px;
}

i.SEA {
    background-position: 0px -527px;
}

i.TPB {
    background-position: 0px -558px;
}

i.PGB {
    background-position: 0px -589px;
}

i.BIDV {
    background-position: 0px -620px;
}

i.AGB {
    background-position: 0px -651px;
}

i.SCB {
    background-position: 0px -682px;
}

i.VPB {
    background-position: 0px -713px;
}

i.VAB {
    background-position: 0px -744px;
}

i.GPB {
    background-position: 0px -775px;
}

i.SGB {
    background-position: 0px -806px;
}

i.NAB {
    background-position: 0px -837px;
}

i.BAB {
    background-position: 0px -868px;
}


@media (min-width: 769px) {
    .spacing-small-pc {
        margin-top: 15px;
    }

    .mobile-container {
        background-color: #FCFCFC;
        border: 1px solid #DDD;
        border-radius: 4px;
        margin: 10px auto 40px;
        padding: 10px;
    }

    .navbar-default {
        border-width: 0px;
    }

    .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: white;
    }

    .form-control::-moz-placeholder { /* Firefox 19+ */
        color: white;
    }

    .form-control:-ms-input-placeholder { /* IE 10+ */
        color: white;
    }

    .form-control:-moz-placeholder { /* Firefox 18- */
        color: white;
    }

    .divider h5 {
        background-color: #FFF;
    }
}

@media (max-width:768px) {
    .label {
        display: none;
    }

    input[type=email].form-control {
        border-bottom-width: 0px;
    }

    .border-bottom {
        border-bottom-width: 1px !important;
    }

    .form-control, .btn {
        /*border-radius: 0px !important;*/
    }
}
