﻿.code-panel
{
    margin-top:100px;
    padding-bottom:30px;
    border-bottom:1px solid #EEE;
}
.label-input
{
    font-weight:normal;
    font-size:18px;
    margin:0 auto 10px;
    width:400px;
    text-align:center;
    display:block;
    color:#666;
}
#divCodeGroup
{
    width:500px;
    margin:auto
}
.clearInput
{
    color: #999;    
    font-size: 18px;
    position: absolute;
    right: 75px;
    top: 16px;
    z-index: 1000;
    display:none;
    cursor:pointer;
}
.clearInput:hover
{
     color: #555;  
}

@media(max-width:600px)
{
    #divCodeGroup
    {
        width:90%;
    }
}
.box-header
{
    color:#666;
    padding-bottom:10px;
    border-bottom:1px dashed #DDD;
}
.public-list-wrapper{
    margin-top:20px;
}
