﻿body {
}

@media only screen and (min-width: 992px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: none;
    }
}

.background {
    background-image: url(pics/pic03.jpg);
    background-size: cover;
    background-position: top;
    padding-bottom:20px;
}

.parent {
    max-width: 1024px;
    margin: 0 auto 20px;
}

.hero_text {
    padding-left: 0;
    padding-right: 0;
    margin: 20px auto;
    width: 80%;
    background-color: #4C8BF5;
    font-size: 27px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    padding-top: 10px;
}

.hero_app_link {
    margin-top: 10px;
}

    .hero_app_link img {
        display: inline-block !important;
    }

.l-v-top-padded {
    padding-top: 20px;
}
.l-flex-row {
    display:block;
}
@media only screen and (min-width: 480px)
{
    .l-flex-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
}

.l-text-align-center {
    text-align: center !important;
}
.l-h-padded {
    padding-left: 20px;
    padding-right: 20px;
}
.l-v-spaced {
    margin: 20px 0;
}
.l-v-bottom-half-spaced {
    margin-bottom: 10px;
}

.strong {
    font-weight: 600 !important;
}

.large-font{
    font-size: 18px;
    font-size: 1.38462rem;
    line-height: 23px;
    line-height: 1.76923rem;
}
.l-rel {
    position: relative !important;
}
.icn-chevron-right-large {
    display: inline-block;
    background-image: url("http://portal.ehubly.com/Content/arrow.png");
    background-position: 0 -216px;
    background-repeat: no-repeat;
    height: 72px;
    width: 34px;
}

.l-h-spaced {
    /*margin: 0 20px;*/
}
.crd {
    /*min-width: 200px;*/
    position: relative;
    text-align: center;
    color: #2c3139;
    overflow: hidden;
    padding: 20px;
}

.crd{
    background: #fff;
    border: 1px solid #dadde1;
    border-radius: 3px;
    -ms-transform: scale(1) translateZ(0);
    -webkit-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
    -webkit-transition: -webkit-transform 150ms, opacity 150ms;
    transition: transform 150ms, opacity 150ms;
    display: block;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    -ms-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.crd_divider-vertical {
    height: 100%;
    text-align: center;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}
.l-v-center-single-child:before {
    content: "";
    width: 1px;
    height: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-left: -1px;
}

.crd_divider-vertical:after {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    bottom: -20px;
    width: 1px;
    background: #dadde1;
    z-index: 2;
}


.crd_divider_label {
    height: 40px;
    background: #fff;
    display: inline-block;
    line-height: 40px;
    position: relative;
    z-index: 5;
}



.crd-gray {
    background: #eef2f5;
    border: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.hor {
    position: relative;
    height: 0;
    border-bottom: 1px solid #dadde1;
    overflow: visible;
    margin: 20px 0;
}