﻿/*html{
    -webkit-user-select: none;-khtml-user-drag: none;-khtml-user-select: none;-moz-user-select: none;-moz-user-select: -moz-none;-ms-user-select: none;user-select: none;         
}*/
*, *:before, *:after {
    box-sizing: border-box;
}

img {
    max-width:100%;
}
div,p{
  padding: 0px;
  margin: 0px;
}

/*body>div, body>p {
    padding-left:8px;
    padding-right:8px;
}*/

h1, h2{
  margin-top: 25px;
  margin-bottom: 12px;
  line-height: 1.2;
  color: #333;
  font-weight: 700;
}

h1{
  font-size: 3.5em;
}
h2{
  font-size: 2.5em;
  padding-top: 12px;
  margin-bottom: 8px;
}


h3, h4{
  padding-top: 8px;
  margin-bottom: 4px;
  line-height: 1.2em;
  font-weight: 500;
}

h3{
  font-size: 1.5em;
}
h4{
  font-size: 1.3em;
}

p, .margin-bottom-16{
  margin-bottom: 16px;
}

.padding-horizon-8{
    padding:0 8px;
}


blockquote{
  margin: 0px;
  padding: 8px 20px !important;
  font-style: italic;  
  font-weight: 500;
  color: #444;
  /*font-family: 'Open Sans', sans-serif;*/
}

.center{
  text-align: center;
}

.left{
  text-align: left;
  text-indent: 0px;
}

.right{
  text-align: right;
  text-indent: 0px;
}

span.center, span.left, span.right{
  display: block;
}

li{
  margin-left: -10px;
}

li p{
  text-indent: 0px;
}

hr{
  display: block;
  width: 50%;
  margin: 20px auto 40px auto;
  border: 0px;
  border-top: 1px solid #dededc;  
  border-bottom: 1px solid #dededc;  
  padding: 2px;
}


.underline.dotted{  /* Text dotted */
  text-decoration: none;
  border-bottom: dotted 1px #444;
}

.block{
  display: block;
}

.f-left{
  float: left;
  /*padding-left: 8px !important;*/   
  padding-right: 8px !important;
}
.f-right{
  float: right;
  padding-left: 8px !important;  
  /*padding-right: 8px !important;*/
}

.box{
  border: solid 1px #eee;
  border-radius: 3px;
  padding: 8px;
  margin: 8px;
}

.note{
  font-size:0.8em;
  color:#999;
}

.w10{
  width: 10%;
}
.w25{
  width: 25%;
}
.w35{
  width: 35%;
}
.w50{
  width: 50%;
}
.w65{
  width: 65%;
}
.w75{
  width: 75%;
}
.w100{
  width: 100%;
}

blockquote p, .no-indent{
  text-indent: 0px;
}

p.photo.center{
  font-size: 0.8em;
}

.dropcap:first-letter, span.dropcap{ 
  float: left; 
  padding: 4px 0 0; 
  display: block; 
  font-size: 80px;
  line-height:60px;
  font-family: Georgia, Times, serif;
}

.no-margin{
  margin: 0px !important;
}

.clear{
  clear: both;
}

/*responsive*/

@media only screen and (min-width: 600px) {
  blockquote{
    padding: 8px 50px !important;
  }
}

@media only screen and (max-width: 481px) {
  .w10, .w25, .w35, .w50, .w65, .w75{
    width: 100%;
  }
  .f-left, .f-right, .panel.f-left, .panel.f-right{
    float: none;
  }
  img.f-left, img.f-right, figure.f-left, figure.f-right, .panel.f-left, .panel.f-right{
    padding-left: 0px !important;
    margin-left: 0px !important;
  }
  figure.f-left, figure.f-right {
    margin: 20px !important;
    width: auto !important;
  }
  figure.f-left.hero, figure.f-right.hero {
    margin: 0px !important;
    margin-bottom: 20px !important;
  }
}

@media only screen and (min-width: 1024px){
  .w10,
  .w25,
  .w35,
  .w50,
  .w65,
  .w75{
    /*max-width: 320px;*/
  }
}
