﻿html {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

/*@media (min-width: 1600px) {
    .container {
        width: 1270px;
    }
}*/

.feeds li .col1>.cont
{
    margin-right: 115px;
}

.feeds li .col2{
    width: 115px;
    margin-left: -115px;
}

.divider {
    text-align: center;
    position: relative;
    top: 0px;
    padding-top: .1rem;
    margin-bottom: 0px;
    line-height: 0;
}

    .divider h5 {
        line-height: 1;
        font-size: 12px;
        color: #767676;
        font-weight: 400;
        z-index: 2;
        position: relative;
        display: inline-block;
        background-color: #fff;
        padding: 0 1rem 0 .9rem;        
        margin:20px;
    }

    .divider:after {
        content: "";
        width: 100%;
        background-color: transparent;
        display: block;
        height: 1px;
        border-top: 1px solid #e7e7e7;
        position: absolute;
        top: 50%;
        margin-top: 0;
        z-index: 1;
    }

.dropFileArea .dropzone {
    border: 1px solid #eee;
    height: 60px;
    padding: 5px;
}

.dropFileArea.show .dropzone {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
}

.profile-userpic {
    padding: 20px 0;
    border-left: solid 1px #c4d5df;
    box-shadow: 0 1px 1px rgba(0,0,0,.16),0 31px 1px rgba(0,0,0,.22);
}

.ver-inline-menu {
    box-shadow: 0 1px 1px rgba(0,0,0,.16),0 1px 1px rgba(0,0,0,.22);
}

    .ver-inline-menu li.active a {
        border-left: solid 1px #0c91e5;
    }

    .ver-inline-menu li a {
        border-left: solid 1px #c4d5df;
    }

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.advert {
    position: fixed;
    right: -5px;
    left: -5px;
    top: -5px;
    bottom: -5px;
    background-size: cover;
    background-position: center;
}

.page-header {
    margin: 20px 0;
    font-size: 28px;
    padding-bottom: 7px;
}

.navbar-burger .container {
    position: relative;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1) 0s;
}

.nav-open .navbar .container {
    transform: translate3d(200px, 0px, 0px);
}

.nav-open .wrapper {
    transform: translate3d(150px, 0px, 0px);
}

@media (max-width: 900px) {
    .nav-open .navbar .container {
        transform: translate3d(300px, 0px, 0px);
    }

    .nav-open .wrapper {
        transform: translate3d(300px, 0px, 0px);
    }
}

.wrapper {
    margin-top: 60px;
    background-color: transparent;
    left: 0;
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1) 0s;
    min-height: 600px;
    position: relative;
}

body > .navbar-collapse::after {
    background-color: #ffffff;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

body > .navbar-collapse {
    background-color: #999;
    border-right: 1px solid #e3e3e3;
    border-top: medium none;
    display: block;
    height: 100%;
    overflow-y: visible;
    padding-left: 20px;
    padding-right: 15px;
    position: fixed;
    left: 0;
    text-align: left;
    top: 0;
    transform: translate3d(-300px, 0px, 0px);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1) 0s;
    visibility: visible;
    width: 300px;
    z-index: 1032;
}

.nav-open .navbar-collapse {
    transform: translate3d(0px, 0px, 0px);
}

body > .navbar-collapse ul {
    height: 95%;
    overflow-y: auto;
    position: relative;
    z-index: 3;
}

body > .navbar-collapse .navbar-nav, body > .navbar-collapse .navbar-nav > li {
    float: none;
}

body > .navbar-collapse .nav > li {
    border-bottom: 1px solid #e5e5e5;
}

    body > .navbar-collapse .nav > li > a {
        color: #444444;
        font-size: 13px;
        font-weight: 600;
        line-height: 13px;
        margin: 0;
        padding: 16px 0;
        text-transform: uppercase;
    }

    body > .navbar-collapse .nav > li.social-links {
        margin-left: -40px;
        text-align: center;
    }

.btn-transparent {
    background-color: transparent;
    color: inherit;
}

    .btn-transparent:hover {
        border: 1px solid #EEE;
    }

.text-bold {
    font-weight: bold;
}

#menuLeft li a {
    cursor: pointer;
}

.nav > .social-links > a {
    display: inline-block;
}

body > .navbar-collapse .nav > li.social-links > a {
    font-size: 18px;
    padding: 24px 15px;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

body > .navbar-collapse .nav > li > a:hover, body > .navbar-collapse .nav > li > a.active {
    color: #c5a47e;
}

.left-logo {
    height: 60px;
    text-align: center;
    position: relative;
    z-index: 3;
    border-bottom: 1px solid #DDD;
}

    .left-logo img {
        margin: 10px auto;
        max-height: 40px;
    }

.portal-return {
    position: relative;
    z-index: 3;
    border-top: 1px solid #DDD;
}

.margin-top-row {
    margin-top: 15px;
}
/***************
    Footer
    *****************/
.footer {
    overflow: hidden;
    background-color: rgba(230, 230, 230, 0.97);
    border-top: 1px solid #dddddd;
    line-height: 20px;
    position: relative;
}

    .footer .copyright {
        color: #777777;
        line-height: 20px;
        margin: 15px 3px;
        padding: 10px 15px;
        text-align: center;
    }

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.text-button {
    position: absolute;
    left: 45%;
    width: 10%;
    text-align: center;
    bottom: 100px;
    cursor: pointer;
}

    .text-button span {
        padding: 10px;
        background-color: rgba(0,0,0,0.9);
        color: white;
    }

/**********
    Wookmark
    *************/
.tiles-wrap > li {
    width: 192px;
    padding: 0;
}

/************
    List
    *************/

.icontent {
}

    .icontent img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 192px;
    }

.info {
    padding: 8px;
    background-color: #f3f3f5;
}

    .info .title:hover {
        color: #ff6700;
    }

.meta-data {
    display: block;
    height: 40px;
}

.icontent .meta-data ul {
    list-style-type: none;
    padding: 0;
}

    .icontent .meta-data ul li {
        background-color: #fff;
        padding: 0;
    }

        .icontent .meta-data ul li:last-of-type {
            border-left: 2px solid #F3f3f5;
        }

    .icontent .meta-data ul li {
        background-color: #FFF;
        height: 40px;
        padding: 10px 0px;
        float: left;
        text-align: center;
        width: 95px;
    }

.icontent .title {
    word-wrap: break-word;
}

.border-color-1 {
    border-top: 4px solid #ff6700;
}

.border-color-2 {
    border-top: 4px solid #8fbe1b;
}

/***********
    popup
    *************/
#appendedContainer > .module {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
}

    .no-scroll, #appendedContainer > .module.no-scroll {
        overflow: hidden;
    }

.Closeup.canClose {
    background-color: rgba(239,239,239,0.96);
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
    overflow-x: hidden;
}

.Closeup {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    .Closeup .close {
        margin-right: 24px;
        margin-top: 24px;
        position: fixed;
        z-index: 1051;
        cursor: pointer;
        display: block;
        height: 34px;
        right: 32px;
    }

@media (max-width:1200px) {
    .Closeup .close {
        right: 16px;
    }
}

@media (max-width:900px) {
    .Closeup .close {
        right: 5px;
        margin-right: 10px;
        margin-top: 10px;
    }
}

.Closeup .closeupContainer {
    margin: 32px auto;
    cursor: auto;
}

    .Closeup .closeupContainer.turn {
        margin: 5px auto 75px;
    }

.closeupContentSection {
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    cursor: auto;
}

.closeupMenuNameHeader {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
}

.closeupHeader {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: 1px solid #F2f2f4;
}

.info-share {
    padding: 5px 0;
    border-bottom: 1px solid #F2f2f4;
}

    .info-share .date-publish, .info-share .share {
        float: left;
    }

    .info-share .owner {
        float: right;
    }

    .info-share .date-publish {
        font-weight: bold;
        color: #888;
        line-height: 30px;
    }

    .info-share .owner img {
        max-height: 30px;
    }

.detail-content {
    margin: 20px 0;
}

#textWrapper {
    top: 10px;
    bottom: 60px;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 10000;
}

    #textWrapper .container {
        border-radius: 5px;
        background-color: white;
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 0;
        right: 0;
        padding: 25px 20px;
    }

        #textWrapper .container .htmlContent {
            position: absolute;
            top: 30px;
            bottom: 20px;
            left: 0;
            right: 0;
            overflow: auto;
            padding: 15px 20px;
        }

        #textWrapper .container .closeText {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
        }

.detail-attachment {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #F2F2F2;
}

/**********
    Attachment
    ************/

.file-card {
    float: left;
    width: 400px;
    height: 80px;
    padding: 5px;
    box-shadow: 0 0 4px #dedede;
    border-radius: 4px;
    margin: 0 5px 12px;
    position: relative;
    background-color: #fff;
}

.file-card-icon {
    float: left;
    width: 120px;
    position: relative;
}

.file-thumbnail-preview {
    border: 1px solid #d6dadc;
    background-color: #dfe8f1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    text-decoration: none;
    height: 70px;
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
}

.file-thumb-preview-ext {
    color: #8c8c8c;
    display: block;
    font-size: 18px;
    font-weight: 700;
    height: 100%;
    line-height: 5pc;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
}

.file-card-info {
    float: left;
    margin-left: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

    .file-card-info > div.title {
        color: #3071a9;
        max-height: 40px;
        font-size: 13px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 250px;
        -moz-hyphens: auto;
        hyphens: auto;
        -webkit-hyphens: auto;
        -webkit-hyphenate-character: "‐";
        word-break: break-all;
        word-wrap: break-word;
    }

    .file-card-info .caption {
        font-weight: 400;
        font-size: 11px;
        color: #444;
    }

/*********
    Player
    **********/
.currentPlayTrack {
    color: #FFF;
    display: inline-block;
    width: 200px;
}

.playlist {
    left: 12px;
    margin-bottom: 12px !important;
}

.dropdown-menu > li a:not(.btn-info) {
    color: #444;
}

    .dropdown-menu > li a:not(.btn-info):hover {
        background-color: transparent;
        color: #0496D9;
        text-decoration: underline;
    }

.btn-group:hover ul.dropdown-menu {
    display: block;
    cursor: pointer;
    z-index: 10000;
}

.audio-control {
    margin-top: 8px;
}

.video-thumb {
    position: relative;
}

.thumb-play::after, .thumb-play:after {
    display: block;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 2px;
    left: 2px;
    background: url("pic/playvideo.png") no-repeat center center;
}

/********
    List
    ********/
.item {
    padding: 20px 0 40px;
    border-bottom: 1px solid #EEE;
    border-top: 1px solid #EEE;
    margin: 20px auto;
}

    .item:first-of-type {
        border-top: 0;
    }

    .item .title {
        font-size: 18px;
        padding: 5px 0;
    }

    .item .img-responsive {
        display: initial;
    }

    .item .center-content {
        position: relative;
        text-align: center;
    }

    .item video {
        max-width: 100%;
    }

/********
    Filter
    *********/

#filters::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

#filters {
    list-style-type: none;
    margin: 0 5%;
    padding: 0;
    text-align: center;
}

    #filters li {
        border-radius: 3px;
        cursor: pointer;
        float: left;
        font-size: 12px;
        margin: 0 10px;
        padding: 6px 8px 4px;
        transition: all 0.15s ease-out 0s;
    }

        #filters li.active {
            background: #4281f5 none repeat scroll 0 0;
            color: #ffffff;
        }


/********
    Button Responsive Mobile
    **********/
@media (max-width:767px) {
    .btn {
        padding: 0px 4px;
    }

    .large-icon {
        font-size: 14px;
    }

    .largest-icon {
        font-size: 22px;
        line-height: 16px;
    }

    .audio-control {
        margin-top: 0;
    }
}

.warning-text {
    font-weight: bold;
    color: #525e64;
    margin: 20px 0;
    font-size: 20px;
    text-align: left;
}

.page-404 {
    text-align: center;
}

    .page-404 .number {
        display: inline-block;
        color: #e7505a !important;
        text-align: right;
        letter-spacing: -10px;
        line-height: 128px;
        font-size: 128px;
        font-weight: 300;
    }

    .page-404 .details {
        text-align: left;
        margin-left: 40px;
        display: inline-block;
        max-width: 30%;
    }

.overflow {
    overflow: auto;
    padding: 10px;
}

.videoregion {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    left: 0;
}

    .videoregion.region, .videoregion.region:hover {
        background: transparent;
        opacity: 1 !important;
    }

/************
    Audio book
    *******************/
.coverImage {
    float: left;
}

.infoWrapper {
    float: left;
}

    .infoWrapper > * {
        margin: 0 0 5px;
    }

.audioTitle {
    font-size: 26px;
}

.audioCategory {
    font-size: 18px;
}

.audioPublish {
    font-size: 16px;
}

.audioDescription {
    font-size: 13px;
    max-height: 80px;
    overflow: hidden;
    padding: 10px 0;
}

.audioDescriptionFull {
    font-size: 13px;
    padding: 10px 0;
}

#divLoading {
    position: absolute;
    top: 40%;
    left: 48%;
    display: none;
}
/***********
    CSS3 spinner
    *************/
.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

    .sk-folding-cube .sk-cube {
        float: left;
        width: 50%;
        height: 50%;
        position: relative;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

        .sk-folding-cube .sk-cube:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #0094D9;
            -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
            -webkit-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }

    .sk-folding-cube .sk-cube2 {
        -webkit-transform: scale(1.1) rotateZ(90deg);
        transform: scale(1.1) rotateZ(90deg);
    }

    .sk-folding-cube .sk-cube3 {
        -webkit-transform: scale(1.1) rotateZ(180deg);
        transform: scale(1.1) rotateZ(180deg);
    }

    .sk-folding-cube .sk-cube4 {
        -webkit-transform: scale(1.1) rotateZ(270deg);
        transform: scale(1.1) rotateZ(270deg);
    }

    .sk-folding-cube .sk-cube2:before {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-folding-cube .sk-cube3:before {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }

    .sk-folding-cube .sk-cube4:before {
        -webkit-animation-delay: 0.9s;
        animation-delay: 0.9s;
    }

@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }

    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }

    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }

    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }

    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}
