﻿
@{
    ViewBag.Title = "Index";
    string connectSID = ViewBag.ConnectSID;
    string VirtualDirectory = System.Configuration.ConfigurationManager.AppSettings.Get("virtualDirectory");
}


                <div class="m-login__signin">
                    <div class="m-login__head">
                        <h3 class="m-login__title">Cập nhật mật khẩu mới</h3>
                    </div>
                    <div class="m-login__form m-form">
                        <div class="form-group m-form__group">
                            <div class="m-input-icon m-input-icon--right">
                                <input id="tbPassword" class="form-control m-input m-login__form-input--last" type="password" placeholder="Password" name="password">
                                <span class="m-input-icon__icon m-input-icon__icon--right m--margin-right-10" onclick="changeInput()">
                                    <span><i id="iconEye" class="fa fa-eye"></i></span>
                                </span>
                            </div>
                        </div>
                        <div class="m-login__form-action">
                            <button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                                Cập nhật
                            </button>
                        </div>
                    </div>
                </div>
            

@section scripts {
    <script>
        var isLock = false;
        function updatePassword() {
            var password = $('#tbPassword').val();
            if (password && password.trim() != '') {
                $.ajax({
                    url: '@(VirtualDirectory)/ResetPassword/update',
                    data: JSON.stringify({
                        password: password,
                        connectId: '@connectSID'
                    }),
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    error: function (xhr) {
                        console.log(xhr);
                    },
                    success: function (res) {
                        if (res.ErrorCode == 0) {
                            window.location.href = '@(VirtualDirectory)/ResetPassword/ResetError?IsInfo=true&ErrorMessage=' + encodeURI('Cập nhật mật khẩu thành công');
                        }
                        else {
                            window.location.href = '@(VirtualDirectory)/ResetPassword/ResetError?ErrorMessage=' + encodeURI(res.Message);
                        }
                    }
                });
            }
            else {
                alert('Cần nhập mật khẩu!');
            }
        }
        $('#m_login_signin_submit').click(function () {
            if (!isLock) {
                isLock = false;
                updatePassword();
            }
        })

        function changeInput() {
            if ($('#tbPassword').attr('type') == 'password') {
                $('#tbPassword').attr('type', 'text');
                $('#iconEye').removeClass();
                $('#iconEye').addClass('fa fa-eye-slash');
            }
            else {
                $('#tbPassword').attr('type', 'password');
                $('#iconEye').removeClass();
                $('#iconEye').addClass('fa fa-eye');
            }
        }
    </script>
}

