﻿
@{
    ViewBag.Title = "ResetError";
    bool IsInfo = ((ViewBag.IsInfo == null) ? false : (bool)ViewBag.IsInfo);
}


<div class="m-login__signin">
    <div class="m-login__head">
        <h3 class="m-login__title">
            Xác thực Link đổi mật khẩu
        </h3>
    </div>
</div>
<div class="m-portlet" style="margin-top:30px">
    <div class="m-portlet__body">
        <div class="m-section__content">
            @if (IsInfo)
            {
                <div class="alert alert-success" role="alert" id="divSuccess">
                    <strong>
                        Chúc mừng!
                    </strong>
                    Bạn đã Cập nhật mật khẩu thành công.
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert" id="divErrorLink">
                    <strong>
                        Lỗi!
                    </strong>
                    @Html.Raw(ViewBag.ErrorMessage)
                </div>
            }
        </div>
    </div>
</div>


