﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta content="width=device-width" name="viewport">
    <title>@ViewBag.Title - eHubly</title>
    <link rel="shortcut icon" id="favIcon" type="image/x-icon" href="@Url.Content("~/Content/images/favicon.png")">
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/pnotify.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/login.css")?1" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-social.css")" rel="stylesheet" type="text/css" />

    @RenderSection("styles", required: false)
    <script src="@Url.Content("~/Scripts/jquery-2.2.3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/pnotify.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.js")"></script>
    <script src="@Url.Content("~/Scripts/utility.js")"></script>
    <script>
        var stack_modal = { "dir1": "down", "dir2": "right", "push": "top", "modal": false, "overlay_close": true };
    </script>
</head>
<body>
    @{ Html.RenderAction("Header", "Home"); }
    @RenderBody()
    @{ Html.RenderAction("Footer", "Home"); }
</body>
</html>
