﻿@using Web.Controllers;
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @RenderSection("head", required: false)
        
        <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css"/>
        <link href="@Url.Content("~/Content/bootstrap-theme.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.11.3.js")"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
        <script src="@Url.Content("~/Scripts/moment-with-locales.min.js")"></script>

        <link href="~/Content/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="@(DAL.virtualPath)/Images/favicon.png" />

        
    </head>
    <body style="margin:0">
        @RenderBody()
    </body>
</html>
