﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
</head>
<body style="padding:0;margin:0">
    <div style="width: 700px; margin: auto">
        <div style="background-color: #051C6F; padding: 10px 5px;">
            <a style="text-decoration:none">
                <h1 style="color:#FF894E;margin:10px">@ViewBag.AppName</h1>
            </a>
        </div>
        <div style="margin-top: 30px">
            @RenderBody()
        </div>
    </div>
</body>
</html>
