﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta name="viewport" content="width=600, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-theme.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />*@
    <script src="@Url.Content("~/Scripts/jquery-1.11.3.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    @RenderSection("head", required: false)
</head>
<body style="margin:0">
    @RenderBody()
</body>
</html>

