﻿
@{
    ViewBag.Title = "Error";
    int ErrorCode = ViewBag.ErrorCode;
}

<div class="mobile-container">
    <h3 class="box-header">

        @if (ErrorCode == 114)
        {
            <text>
                Không thể xác thực đăng nhập để thanh toán, vui lòng thử lại.
            </text>
        }
        else if (ErrorCode == 102)
        {
            <text>
                Gói VIP không tồn tại, vui lòng thử lại.
            </text>
        }
        else if (ErrorCode == 101)
        {
            <text>
                Bài hát hoặc video không tồn tại, vui lòng thử lại.
            </text>
        }
        else
        {
            <text>
                Đã phát sinh lỗi, vui lòng thử lại.
            </text>
        }
    </h3>
</div>

