﻿<div class="navbar navbar-default hidden-xs">
    <div class="container">
        <div class="navbar-header text-center">
            <a class="navbar-brand" href="@Url.Content("~/")" style="margin:10px auto;display:block">
                <img src="@Url.Content("~/Content/images/SkySocial.png")" />
            </a>
        </div>
    </div>
</div>

