﻿@using portal.Models;
@model PayItemModel
@{
    ViewBag.Title = "Media";
    bool Vip = ViewBag.Vip;
    string OS = ViewBag.OS;
}

<div class="mobile-container">
    <h4 class="box-header"><img src="~/Content/Images/@(Model.MediaType).png" style="vertical-align:middle;margin:0 0 5px 0;width:30px" /> @Model.ItemName</h4>
    <div style="margin-top:5px;padding-top:10px;border-top:1px solid #EEE">
        <div style="text-align:center">
            <img style="max-width:100%" src="@Model.ItemImage" />
        </div>
        <div class="text-center" style="margin-top:10px">
            <span class="fa fa-tag text-muted" style="margin-right:5px;"></span><b>@Model.Price.ToString("#,##0") đ</b>
        </div>
        <div class="clearfix" style="margin-top:10px">
            <a id="btContinue" class="btn btn-block btn-default">Tiếp tục thanh toán</a>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.ItemDescription) && Model.ItemDescription != "<p><br></p>")
        {
            <text>
                <div class="item-description" style="margin-top:10px;padding-top:10px;border-top:1px solid #EEE">
                    @Html.Raw(Model.ItemDescription)
                </div>
                @if (Html.Raw(HttpUtility.HtmlDecode(Model.ItemDescription)).ToHtmlString().Length > 1000)
                {
                    <div class="clearfix" style="margin-top:10px">
                        <a id="btContinue2" class="btn btn-block btn-default">Tiếp tục thanh toán</a>
                    </div>
                }
            </text>
        }
        
    </div>
</div>
<script>
    $('#btContinue, #btContinue2').click(function () {
        window.location.href = '@Url.Content("~/PaymentForm")' + '?id=@Model.ItemId&v=@Vip.ToString().ToLower()&t=1&os=@OS';
    });
</script>