﻿@using portal.Helpers;
@model ReturnResult
@{
    ViewBag.Title = "Kết quả thanh toán";
}

<div class="mobile-container">
    <h3 class="box-header">@(Model.ErrorCode == 0 ? "Thanh toán thành công" : "Thanh toán không thành công")</h3>
    <div style="margin-top:30px;">
        @if (Model.ErrorCode == 0)
        {
            <text>
                <h4 class="text-success">
                    @Model.Message
                </h4>
                <script>
                    setTimeout(function () {
                        window.location.href = '@(Url.Content("~/PaySuccess?m=") + HttpUtility.UrlEncode(Model.Message))' ;
                    }, 2000);
                </script>
            </text>
        }
        else
        {
        <text>
            <h4 class="text-warning">
                @Model.Message
            </h4>
        </text>
        }

    </div>
</div>

