﻿@using portal.Models
@model PayItemModel
@{
    int ItemId = (int)ViewBag.ItemId;
    int ItemType = (int)ViewBag.ItemType;
    bool VipUser = (bool)ViewBag.VipUser;
}
<style>
    .cardMobile {
        border: 2px solid #DDD;
        border-radius: 5px;
        padding: 2px;
        display: inline-block;
        margin-right: 5px;
    }

        .cardMobile.selected {
            border-color: dodgerblue;
        }
</style>

<div class="mobile-container" style="position:relative">
    <div id="loading" style=" z-index:10000;background:rgba(0,0,0,0.3);position:absolute;top:0;bottom:0;left:0;right:0;display:none;align-items: center;justify-content: center;"><img style="width:100px;height:100px" src="~/Content/Images/loading.gif"/></div>
    <div id="divPaymentMethodWrapper">
        <h4 class="box-header">Chọn phương thức thanh toán</h4>
        <div style="margin-top:10px">
            <a class="btn btn-default btn-block btPay btn-xs" data-id="1" style="width:100%">
                <div class="payment-img">
                    <img class="box-size-image" src="@Url.Content("~/Content/Images/atm.png")" />
                </div>
                <div class="payment-info">
                    <h4>Thẻ nội địa</h4>
                    <div>Thanh toán bằng thẻ ATM của các ngân hàng.</div>
                </div>
            </a>
        </div>
        <div style="margin-top:10px">
            <a class="btn btn-default btn-block btPay btn-xs" data-id="3" @*data-id="4"*@ data-payment style="width:100%">
                <div class="payment-img">
                    <img class="box-size-image" src="@Url.Content("~/Content/Images/visa.png")" />
                </div>
                <div class="payment-info">
                    <h4>Thẻ quốc tế</h4>
                    <div>Thanh toán trực tuyến với thẻ VISA, MASTER.</div>
                </div>
            </a>
        </div>
        <div style="margin-top:10px">
            <a class="btn btn-default btn-block btPay btn-xs" data-id="4" style="width:100%">
                <div class="payment-img">
                    <img class="box-size-image" src="@Url.Content("~/Content/Images/paypal.png")" />
                </div>
                <div class="payment-info">
                    <h4>Paypal</h4>
                    <div>Thực hiện thanh toán bằng tài khoản Paypal.</div>
                </div>
            </a>
        </div>
        @*<div style="margin-top:10px">
            <a class="btn btn-info btn-block btPay btn-xs" data-id="2" style="width:100%">
                <div class="payment-img">
                    <img class="box-size-image" src="@Url.Content("~/Content/Images/send.jpg")" />
                </div>
                <div class="payment-info">
                    <h4>Chuyển khoản</h4>
                    <div>Chuyển khoản trực tiếp vào tài khoản eHubly.</div>
                </div>
            </a>
        </div>*@


        @if (Model.EnableMobileCardPaid && Model.CardAmount > 0)
        {
            @*<div style="margin-top:5px">
                <a class="btn btn-info btn-xs btPayCard" data-id="6" style="width:99%;padding:5px 0;">
                    <div class="payment-img" style="padding-left:15px">
                        <img class="box-size-image" style="width:50px;height:50px" src="@Url.Content("~/Content/Images/thecao.jpg")" />
                    </div>
                    <div class="payment-info">
                        <h5 class="text-center">Nạp qua thẻ cào điện thoại</h5>
                        <div class="text-center small">
                            Mệnh giá thẻ cào @(IsPeriod ? Model.PeriodCardAmount.ToString("#,##0") : Model.LifeTimeCardAmount.ToString("#,##0")) đ.
                            <br />
                            Lưu ý: Tiền chênh lệch không được hoàn trả.
                        </div>
                    </div>
                </a>
            </div>*@
            <div style="margin-top:10px">
                <a class="btn btn-default btn-block btPayCard btn-xs" data-id="2" style="width:100%">
                    <div class="payment-img">
                        <img class="box-size-image" src="@Url.Content("~/Content/Images/thecao.jpg")" />
                    </div>
                    <div class="payment-info">
                        <h4>Nạp qua thẻ cào điện thoại</h4>
                        <div>
                            Mệnh giá thẻ cào <b>@Model.CardAmount.ToString("#,##0") đ.</b>
                            <br />
                            Lưu ý: Tiền chênh lệch không được hoàn trả.
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
    <div id="divBanklist" style="display:none">
        <h4 class="box-header"><a id="btBack" class="btn-sm btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a> <span>Chọn ngân hàng </span></h4>
        <p class="small">Lưu ý: Bạn cần đăng ký Internet-Banking hoặc dịch vụ thanh toán trực tuyến tại ngân hàng trước khi thực hiện.</p>
        <div class="portlet-body form">
            <div class="form-horizontal">
                <div class="form-body">
                    <div class="form-group">
                        <div class="col-sm-12 money-box-bank" style="text-align:center">
                            <!--12-->
                            <div class="home-pay">
                                <div class="icon-btn seclect-bank-atm" data-id="VCB" title="Ngân hàng TMCP Ngoại Thương Việt Nam (Vietcombank - VCB)"><a><img src="@Url.Content("~/Content/Images/brand/VCB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="TCB" title="Ngân hàng TMCP Kỹ Thương (Techcombank - TCB)"><a ><img src="@Url.Content("~/Content/Images/brand/TCB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="STB" title="Ngân hàng TMCP Sài Gòn Thương Tín (Sacombank - STB)"><a ><img src="@Url.Content("~/Content/Images/brand/STB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="SGCB" title="Ngân hàng TMCP Sài Gòn (SCB)"><a ><img src="@Url.Content("~/Content/Images/brand/SCB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="MB" title="Ngân hàng TMCP Quân Đội (MB)"><a ><img src="@Url.Content("~/Content/Images/brand/MB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="MSB" title="Ngân hàng TMCP Hàng Hải (MariTimeBank)"><a ><img src="@Url.Content("~/Content/Images/brand/MSB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="NAB" title="Ngân hàng Nam Á (NAB)"><a ><img src="@Url.Content("~/Content/Images/brand/NAB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="ACB" title="Ngân hàng TMCP Á Châu (ACB)"><a ><img src="@Url.Content("~/Content/Images/brand/ACB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="AGB" title="Ngân hàng Nông nghiệp và Phát triển Nông thôn (Agribank)"><a ><img src="@Url.Content("~/Content/Images/brand/AGB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="BAB" title="Ngân hàng TMCP Bắc Á (BAB)"><a ><img src="@Url.Content("~/Content/Images/brand/BAB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="BIDV" title="Ngân hàng Đầu tư và Phát triển (BIDV)"><a ><img src="@Url.Content("~/Content/Images/brand/BIDV.png")"></a></div>
                                @*<div class="icon-btn seclect-bank-atm" data-id="BVB" title="Ngân hàng TMCP Bảo Việt (BVB)"><a ><img src="@Url.Content("~/Content/Images/brand/BVB.png")"></a></div>*@
                                <div class="icon-btn seclect-bank-atm" data-id="DAB" title="Ngân hàng TMCP Đông Á (DongA Bank)"><a ><img src="@Url.Content("~/Content/Images/brand/DAB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="EXB" title="Ngân hàng TMCP Xuất Nhập Khẩu (Eximbank - EXB)"><a ><img src="@Url.Content("~/Content/Images/brand/EXB.png")"></a></div>
                                @*<div class="icon-btn seclect-bank-atm" data-id="GAB" title="Ngân hàng TMCP Đại Á (DAB)"><a ><img src="@Url.Content("~/Content/Images/brand/GAB.png")"></a></div>*@
                                <div class="icon-btn seclect-bank-atm" data-id="GPB" title="Ngân hàng Dầu Khí Toàn Cầu"><a ><img src="@Url.Content("~/Content/Images/brand/GPB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="HDB" title="Ngân hàng TMCP Phát triển Nhà Thành phố HCM"><a ><img src="@Url.Content("~/Content/Images/brand/HDB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="ICB" title="Ngân hàng TMCP Công thương Việt Nam"><a ><img src="@Url.Content("~/Content/Images/brand/ICB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="LVB" title="Ngân hàng TMCP Bưu điện Liên Việt (LVB)"><a ><img src="@Url.Content("~/Content/Images/brand/LVB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="NVB" title="Ngân hàng TMCP Quốc Dân (NVB)"><a ><img src="@Url.Content("~/Content/Images/brand/NVB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="OJB" title="Ngân hàng TM TNHH MTV Đại Dương (Oceanbank - OJB)"><a ><img src="@Url.Content("~/Content/Images/brand/OJB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="OCB" title="Ngân hàng TMCP Phương Đông (OCB)"><a ><img src="@Url.Content("~/Content/Images/brand/PDB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="PGB" title="Ngân hàng TMCP Xăng dầu Petrolimex (PGB)"><a ><img src="@Url.Content("~/Content/Images/brand/PGB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="SEA" title="Ngân hàng TMCP Đông Nam Á (SeABank)"><a ><img src="@Url.Content("~/Content/Images/brand/SEB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="SGB" title="Ngân hàng TMCP Sài gòn Công thương (Saigonbank)"><a ><img src="@Url.Content("~/Content/Images/brand/SGB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="SHB" title="Ngân hàng TMCP Sài Gòn - Hà Nội (SHB)"><a ><img src="@Url.Content("~/Content/Images/brand/SHB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="TPB" title="Ngân hàng TMCP Tiên Phong (TPB)"><a ><img src="@Url.Content("~/Content/Images/brand/TPB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="VAB" title="Ngân hàng TMCP Việt Á (VAB)"><a ><img src="@Url.Content("~/Content/Images/brand/VAB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="VIB" title="Ngân hàng TMCP Quốc tế Việt Nam (VIB)"><a ><img src="@Url.Content("~/Content/Images/brand/VIB.png")"></a></div>
                                <div class="icon-btn seclect-bank-atm" data-id="VPB" title="Ngân hàng TMCP Việt Nam Thịnh Vượng (VPB)"><a ><img src="@Url.Content("~/Content/Images/brand/VPB.png")"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divBankTransfer">

    </div>
    <div id="divMobileCard" style="display:none">
        <h4>
            <a id="btCloseMobileCardBox" style="float:left;margin-right:5px" class="btn-sm btn-default"><span class="glyphicon glyphicon-arrow-left"></span></a> 
            <span style="line-height:180%">Thanh toán bằng thẻ cào điện thoại</span>
        </h4>
        <h5 class="box-header">
            Mệnh giá thẻ cào: <b>@Model.CardAmount.ToString("#,##0") đ.</b>
        </h5>
        <div class="small text-muted">
            <b>Lưu ý: </b>
            <p>
                - Cần nạp thẻ đúng mệnh giá thanh toán. Nếu nạp thẻ có mệnh giá nhỏ hơn mệnh giá cần thanh toán, hệ thống sẽ ko chấp nhận là đã thanh toán và sẽ không giải quyết hoàn trả tiền.
            </p>
            <p>
                - Tiền chênh lệch sẽ không được hoàn trả nếu bạn nạp thẻ có mệnh giá lớn hơn.
            </p>
        </div>
        <h5 class="box-header">
            Chọn nhà mạng
        </h5>
        <div>
            <a class="cardMobile selected" data-type="VMS"><img src="~/Content/Images/mobifone.png" /></a>
            <a class="cardMobile" data-type="VNP"><img src="~/Content/Images/vinafone.png" /></a>
            <a class="cardMobile" data-type="VIETTEL"><img src="~/Content/Images/vietel.png" /></a>
        </div>
        <div>
            <div class="row" style="margin-top:10px">
                <div class="col-xs-3">Số PIN</div>
                <div class="col-xs-9 form-group-sm">
                    <input id="tbMBPIN" class="form-control" />
                </div>
            </div>
            <div class="row" style="margin-top:5px">
                <div class="col-xs-3">Số Serial</div>
                <div class="col-xs-9  form-group-sm">
                    <input id="tbMBSerial" class="form-control" />
                </div>
            </div>
            <div class="row" style="margin-top:5px">
                <div class="col-xs-9 col-xs-offset-3">
                    <a id="btPayCard" class="btn btn-success btn-sm">Thanh toán</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function showMobileCardBox() {
        $('#divBanklist').hide();
        $('#divPaymentMethodWrapper').hide();
        $('#divBankTransfer').hide();
        $('#divMobileCard').show();
    }

    function hideMobileCardBox() {
        $('#divBanklist').hide();
        $('#divPaymentMethodWrapper').show();
        $('#divBankTransfer').hide();
        $('#divMobileCard').hide();
    }
    $('.btPayCard').click(function () {
        showMobileCardBox();
    });
    $('#btCloseMobileCardBox').click(function () {
        hideMobileCardBox();
    });

    $('.cardMobile').click(function () {
        $('.cardMobile').removeClass('selected');
        $(this).addClass('selected');
    });
    function validateCardInput() {
        var result = true;
        var msg = '';
        if ($('#tbMBPIN').val() == '') {
            msg += 'Chưa nhập mã PIN';
            result = false;
        }

        if ($('#tbMBSerial').val() == '') {
            msg += 'Chưa nhập mã Serial';
            result = false;
        }

        if ($('.cardMobile.selected').length == 0) {
            msg += 'Chưa chọn nhà mạng';
            result = false;
        }

        if (!result) {
            new PNotify({
                title: 'Thông báo',
                text: msg,
                type: 'danger',
                delay: 3000
            });
        }

        return result;
    }
    $('#btPayCard').click(function () {
        if (validateCardInput()) {
            var requestData = {
                ItemId: parseInt('@ItemId'),
                PayType: parseInt('@ItemType'),
                CardType: $('.cardMobile.selected').data('type'),
                CardPIN: $('#tbMBPIN').val(),
                CardSerial: $('#tbMBSerial').val()
            };
            showLoading(true);
            $.ajax({
                url: '@Url.Content("~/CreateOrderMobileCard")',
                data: JSON.stringify(requestData),
                type: 'POST',
                traditional: true,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    result = false;
                    showLoading(false);
                },
                success: function (res) {
                    if (res.Success) {

                        new PNotify({
                            title: 'Thông báo',
                            text: 'Thanh toán thành công.',
                            delay: 3000
                        });
                        window.location.href = '@(Url.Content("~/PaySuccess"))';

                    }
                    else {
                        showLoading(false);
                        var msg = res.ErrorMessage;
                        new PNotify({
                            title: 'Thông báo',
                            text: msg,
                            type: 'danger',
                            delay: 3000
                        });
                    }
                }
            });
        }
    });
</script>
<script>
    function showLoading(isShow) {
        if (isShow) {
            $('#loading').css('display', 'flex');
        }
        else {
            $('#loading').css('display', 'none');
        }
    }
    var transferPaymentCode = '';

    function updateServerAndRedirectToPay(payMethodId, bank) {
        var requestData = {            
            ItemId: parseInt('@ItemId'),
            PayTypeId: parseInt('@ItemType'),
            PayMethodId: payMethodId,
            Bank: bank
        };
        showLoading(true);
        $.ajax({
            url: '@Url.Content("~/CreateOrder")',
            data: JSON.stringify(requestData),
            type: 'POST',
            traditional: true,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr) {
                result = false;
                showLoading(false);
            },
            success: function (res) {
                if (res.Success) {
                    if (res.ErrorCode == 1) {
                        window.location.href = '@Url.Content("~/PaySuccess")';
                    }
                    else {
                        if (payMethodId == 2) {
                            showLoading(false);
                            //chuyển khoản
                            transferPaymentCode = res.Result;
                            showTransferInfo();
                        }
                        else {
                            window.location.href = res.Result;
                        }
                    }
                }
                else {
                    showLoading(false);
                    var msg = res.Result;
                    new PNotify({
                        title: 'Thông báo',
                        text: msg,
                        type: 'danger',
                        delay: 3000
                    });
                }
            }
        });
    }

    function showTransferInfo() {
        $('#divBanklist').hide();
        $('#divPaymentMethodWrapper').hide();
        $('#divBankTransfer').show();
        $('#divBankTransfer').load('@Url.Content("~/BankTransferBox")', { PaymentCode: transferPaymentCode });
    }

    function hideTransferInfo() {
        $('#divBanklist').hide();
        $('#divBankTransfer').hide();
        $('#divPaymentMethodWrapper').show();

    }

    function showATM() {
        $('#divBanklist').show();
        $('#divPaymentMethodWrapper').hide();
    }

    function hideATM() {
        $('#divBanklist').hide();
        $('#divPaymentMethodWrapper').show();
    }

    $('#divBanklist').on('click', '.seclect-bank-atm', function () {
        var bank = $(this).data('id');
        var payMethodId = 1;
        updateServerAndRedirectToPay(payMethodId, bank);
    });

    $('#btBack').click(function () {
        hideATM();
    });
    $('.btPay').click(function () {
        var payMethodId = parseInt($(this).data('id'));
        if (payMethodId != 1) {
            if (payMethodId == 2 && transferPaymentCode != '') {
                showTransferInfo();
            }
            else {
                updateServerAndRedirectToPay(payMethodId, '');
            }
        }
        else //show popup chọn bank
        {
            showATM();
        }
    });
</script>