﻿@{
    ViewBag.Title = "PaySuccess";
    string Message = (string)ViewBag.Message;
}
<div class="mobile-container">
    <h3 class="box-header">
        Thanh toán thành công
    </h3>
    <div style="margin-top:30px;">
        <h4 class="text-success">
            @Html.Raw(Message)
        </h4>
    </div>
</div>

