﻿@using portal.Models
@using portal.Helpers
@model List<AppVipSellConfig>
@{
    ViewBag.Title = "Vip";
    string OS = ViewBag.OS;

    var ListVipType = Model.Select(c => new { c.VipLevelId, c.VipLevel }).Distinct().ToList();


}

<div class="mobile-container">
    <div style="margin-top:10px">
        <h4 style="margin-bottom:10px">Nâng cấp lên thành viên VIP</h4>
        @foreach (var type in ListVipType)
        {
            var lst = Model.Where(c => c.VipLevelId == type.VipLevelId).ToList();
            <text>
                <h4 style="margin-top:20px"> <i>Gói <span style="color:deepskyblue">@type.VipLevel</span>:</i></h4>
                
                @foreach (var m in lst)
                {
                    if (m.Price > 0)
                    {
                        <text>
                            <div class="radio" style="margin-top:10px">
                                <label>
                                    <input type="radio" @(m.Month == 12 ? "checked" : "") name="optionConfig" ifta-value="@m.Price" data-id="@m.ConfigId">
                                    @(UtilityHelper.ConvertMonthToDisplay(m.Month ?? 0)) với giá <b>@(m.Price.HasValue ? m.Price.Value.ToString("#,##0") : "0") đ</b>
                                </label>
                            </div>
                        </text>
                    }
                }
            </text>
        }

    </div>
    <div class="clearfix" style="margin-top:20px">
        <a id="btContinue" class="btn btn-block btn-default">Tiếp tục thanh toán</a>
    </div>
</div>

<script>
    $('#btContinue, #btContinue2').click(function () {
        var configId = $('input[name=optionConfig]:checked').data('id');
        console.log(configId);
        if (configId) {
            window.location.href = '@Url.Content("~/PaymentForm")' + '?id=' + configId + '&t=0&v=false&os=@OS';
        }
        else {
            new PNotify({
                title: 'Thông báo',
                text: 'Chưa chọn gói VIP.',
                delay: 3000
            });
        }
    });
</script>