﻿@using Web.Models
@using Web.Controllers;
@model ResponseImageInfo
@{
    var description = string.IsNullOrEmpty(Model.data.ImageItem.Description) ? "" : Model.data.ImageItem.Description.Replace("<br>", "\n");
    ViewBag.Title = "SkySocial" + (string.IsNullOrEmpty(description) ? "" : " - " + Html.Raw(description));
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
    var Items = Model.data.ImageItem.ItemContent;
    var FirstImageItem = Items.FirstOrDefault(c => c.ItemType == "IMAGE");
    var FirstVideoItem = Items.FirstOrDefault(c => c.ItemType == "VIDEO");
    var Item = FirstImageItem != null ? FirstImageItem.Medium : FirstVideoItem.Medium;
    var Location = Model.data.ImageItem.Location;
    string iOSDeepLinkPrefix = "skysocial";
    string androidDeepLinkPrefix = "skysocial";
    string iOSAppStore = "";
    string androidPlayStore = "https://play.google.com/store/apps/details?id=ehubstar.skysocial";
    var Id = ViewBag.Id;
    var ItemId = ViewBag.ItemId;
}

@section head
{
    <meta property="og:title" content="Sky Social. @Html.Raw(description)" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="@Item.Link" />
    <meta property="og:url" content="" />
    @if (FirstImageItem == null && FirstVideoItem != null)
    {<meta property="og:video" content="@FirstVideoItem.Large.Link" />
        <meta property="og:video:width" content="@FirstVideoItem.Large.Width" />
        <meta property="og:video:height" content="@FirstVideoItem.Large.Height" />
    }

    <meta property="og:image:width" content="@Item.Width" />
    <meta property="og:image:height" content="@Item.Height" />

}
<div>
    <div class="div-top-bar">
        <a class="logo-in-top-bar" style="background-image:url(@(DAL.virtualPath)/Images/Skysocial.png)" href="http://mtpentertainment.com/">
        </a>
    </div>
    <div class="open-in-app">
        <span class="span-open-in-app">
            <a class="a-open-in-app" href="javascript:;">Mở bằng ứng dụng</a><a class="x-open-in-app" href="javascript:;">×</a>
        </span>
    </div>
</div>
<section class="section-parent">
    <div class="div-article">
        <div class="article">
            <div class="header-article">
                <a class="a-avatar" style="width: 40px; height: 40px;">
                    <img class="" src="@Model.data.ImageItem.Owner.AvatarSmall">
                </a>
                <div class="owner-name">
                    <a>
                        @Model.data.ImageItem.Owner.UserName
                    </a>
                    <a class="image-location" title="@Location">@Location</a>
                </div>
                <a class="article-time"><time class="image-time-create" datetime="@Model.data.ImageItem.CreateDate" title="@Model.data.ImageItem.CreateDate"></time></a>
            </div>
            <div>
                <div class="div-div-image-item">
                    <div class="div-image-item">
                        @if (FirstImageItem != null)
                        {
                            <text>
                                <img class="" src="@FirstImageItem.Large.Link" />
                            </text>
                        }
                        else
                        {
                            <text>
                                <div style="position:absolute;right:5px;top:5px"><a class="btn btn-xs btn-default"><span class="fa fa-video-camera"></span></a></div>
                                <video onclick="togglePlay(this);" loop poster="@FirstVideoItem.Medium.Link" style="width:100%">
                                    <source src="@FirstVideoItem.Large.Link" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </text>
                        }
                    </div>
                    @if (FirstImageItem != null)
                    {
                        <text>
                            <div class="show-image-item"></div>
                        </text>
                    }
                </div>
            </div>
            <div class="footer-article">
                <section class="footer-like-box">
                    <div class="div-like-box">

                        <span class="like-box-count box-btn-s"><span><i class="fa fa-heart" style="color:#fb5880;"></i> @Model.data.ImageItem.LikeCount</span></span>


                        @*@if (Convert.ToInt32(Model.data.ImageItem.ShareCount) > 0)
                            {
                                <span class="like-box-count share-box-count box-btn-s"><span>@Model.data.ImageItem.ShareCount Chia sẻ</span></span>
                            }*@
                        @if (Convert.ToInt32(Model.data.ImageItem.CommentCount) > 0)
                        {
                            <span class="like-box-count coment-box-count box-btn-s"><span>@Model.data.ImageItem.CommentCount Thảo luận</span></span>
                        }
                    </div>
                </section>
                <section class="footer-comment">

                    <div class="div-like-box text-center">

                        <span class="like-box-count box-btn pull-left"><span><i class="fa fa-heart" style="color:grey;"></i> Thích</span></span>
                        <span class="like-box-count box-btn pull-right"><span><i class="fa fa-paper-plane" style="color:grey;"></i> Chia sẻ</span></span>
                        <span class="like-box-count box-btn"><span><i class="fa fa-comment-o" style="color:grey;"></i> Thảo luận</span></span>

                    </div>

                    @*<form class="form-comment">
                            <input type="text" class="input-comment" aria-label="Thêm bình luận…" placeholder="Thêm bình luận…" value="">
                        </form>
                        <button class="footer-btn-option">Tùy chọn khác</button>*@
                </section>

                <ul class="list-comment">
                    @if (Model.data.ImageItem.Description != "" && Model.data.ImageItem.Description != null)
                    {
                        <li class="item-comment">
                            <h1 class="h-comment">
                                @*<a class="content-comment" title="">@Model.data.ImageItem.Owner.UserName</a>*@
                                <span>@Html.Raw(Model.data.ImageItem.Description)</span>
                            </h1>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="max-width:500px">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="width: 30px;position: absolute;right: 5px;top: 5px;">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="text-center">
                    <img height="100" src="@(DAL.virtualPath)/Images/favicon.png" style="border-radius:10%">
                </p>
                <p style="padding:20px;font-weight:bold" class="text-center text-muted">
                    Tải ngay ứng dụng nếu bạn muốn thực hiện thao tác này!
                </p>
                <p class="text-center">
                    <a style="display:inline-block;cursor:pointer;margin-right:20px" href="@iOSAppStore"><img src="@Url.Content("~/images/iOS.png")" width="150" /></a>
                    <a style="display:inline-block;cursor:pointer" href="@androidPlayStore"><img src="@Url.Content("~/images/Android.png")" width="150" /></a>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    function togglePlay(myVideo) {
        if (myVideo.paused)
            myVideo.play();
        else
            myVideo.pause();
    }
    $(document).ready(function () {

        moment.locale('vi');
        $('.image-time-create').text(moment.unix(@Model.data.ImageItem.CreateDate).fromNow())
        //if (days < 2)
        //{
        //    $('.image-time-create').text(hours + " giờ");
        //}
        //if (2 < days && days < 20) {
        //    $('.image-time-create').text(days + " ngày")
        //}
        //if (14 < days && days < 55)
        //{
        //    $('.image-time-create').text(weeks + " tuần")
        //}
        //if (55 < days &&days < 720) {
        //    $('.image-time-create').text(months + " tháng")
        //}
        //if (720 < days) {
        //    $('.image-time-create').text(years + " năm")
        //}

        clickonSite();

    });

    window.isAndroid = function () {
        var ua = navigator.userAgent.toLowerCase();
        console.log(ua);
        var isAndroid = ua.indexOf("android") > -1;
        return isAndroid;
    };
    window.iOScheck = function () {
        var check = false;
        (function (a) {
            if (/ip(hone|od|ad)/i.test(a))
                check = true
        })(navigator.userAgent || navigator.vendor || window.opera);
        return check;
    };
    function androidRedirect() {
         window.location =  "@androidDeepLinkPrefix://page?id=" + '@Model.data.ImageItem.ImageItemId';
                setTimeout(function () {
                    window.location = "@androidPlayStore";
                }, 1000);
    }
    function iosRedirect() {
        window.location =  "@iOSDeepLinkPrefix://page?id=" + '@Model.data.ImageItem.ImageItemId';
                setTimeout(function () {
                    reposition();
                    $('#downloadModal').modal('show');
                    window.location = "@iOSAppStore";
                }, 500);
    }
    function clickonSite()
    {
        if(window.isAndroid())
        {
            $('.div-like-box').on('click', '.box-btn', function () {
                androidRedirect();
            })
            $('.div-like-box').on('click', '.box-btn-s', function () {
                androidRedirect();
            });
            $('.header-article').on('click', function () {
                androidRedirect();
            });
            $('.a-open-in-app').on('click', function () {
                androidRedirect();
            });
            $('.x-open-in-app').on('click', function () {
                   $('.open-in-app').hide();
            })
        }
        if(window.iOScheck())
        {
            $('.div-like-box').on('click', '.box-btn', function () {
                iosRedirect();
            });
            $('.div-like-box').on('click', '.box-btn-s', function () {
                iosRedirect();
            });
            $('.header-article').on('click', function () {
                iosRedirect();
            });

            $('.a-open-in-app').on('click', function () {
                iosRedirect();
            });
            $('.x-open-in-app').on('click', function () {
                $('.open-in-app').hide();
            });
        }

        if(!window.isAndroid() && !window.iOScheck())
        {
            $('.div-like-box').on('click', '.box-btn', function () {
                reposition();
                $('#downloadModal').modal('show');
            });
            $('.div-like-box').on('click', '.box-btn-s', function () {
                reposition();
                $('#downloadModal').modal('show');
            });
            $('.header-article').on('click', function () {
                reposition();
                $('#downloadModal').modal('show');
            });
        }


    }



        function reposition() {
            var modal = $(this),
                dialog = modal.find('.modal-dialog');
            modal.css('display', 'block');

            // Dividing by two centers the modal exactly, but dividing by three
            // or four works better for larger screens.
            dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 2));
            dialog.css("margin-left", Math.max(0, ($(window).width() - dialog.width()) / 2));
        }
        // Reposition when a modal is shown
        $('.modal').on('show.bs.modal', reposition);
        // Reposition when the window is resized
        $(window).on('resize', function () {
            $('.modal:visible').each(reposition);
        });

</script>