﻿@using Web.Controllers
@{
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
    ViewBag.Title = "No data";
    
}
<div>
    <div class="div-top-bar" >
        <a class="logo-in-top-bar" style="background-image:url(@(DAL.virtualPath)/Images/Skysocial.png);" href="http://mtpentertainment.com/">

        </a>
    </div>
    <div class="open-in-app">
        <span class="span-open-in-app">
            <a class="a-open-in-app" href="javascript:;">Mở bằng ứng dụng</a><a class="x-open-in-app" href="javascript:;">×</a>
        </span>
    </div>
</div>
<section class="section-parent" style="border-top:1px solid #efefef">
    <img src="~/Images/404.png" style="width:100%" />
</section>
