﻿.navbar-brand {
    padding: 10px 15px;
}

.btn {
    border-radius: 0 !important;
}

.btn-warning, .btn-info {
    background-image: none;
    box-shadow: none;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 640px;
    }
}

a:hover {
    text-decoration: none;
    color: #262626;
}

/*detect*/


div, header, section, .article {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    /*border: 0 solid #000;*/
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

@media (min-width: 640px) {
    .section-parent {
        padding-top: 15px;
    }
}

.section-parent {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}
/*.article{
    background:white;
}
.div-article{
        margin-bottom: 30px;
}

@media (min-width: 640px)
{
.article {
    margin-bottom: 60px;
}}*/


.article {
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 2px;
    margin-left: -1px;
    margin-right: -1px;
}

.a-avatar {
    width: 34px;
    height: 34px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #262626;
    font-weight: 600;
    text-decoration: none;
    margin: -1px 10px -1px -5px;
}

    .a-avatar img {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        margin: -1px 10px -1px -5px;
    }


.header-article {
    height: 64px;
    padding: 10px 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.owner-name {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    overflow: hidden;
    line-height: 0;
}

    .owner-name a {
        color: #262626;
        text-decoration: none;
        margin-right: 100%;
        display: inline-block;
        max-width: 100%;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 5px;
        margin-left: -5px;
    }

@media (min-width: 736px) {

    .owner-name a {
        font-size: 15px;
        line-height: 18px;
    }
}

@media (max-width: 736px) {
    .owner-name a {
        font-size: 15px;
        overflow: initial;
        margin-top: 15px;
        margin-top: 5px;
        line-height: 1;
    }
}

.image-location {
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px !important;
}

.article-time {
    color: #999;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    float: right;
    text-decoration: none;
}

    .article-time time {
        font-size: 15px;
        line-height: 34px;
        text-decoration: none;
    }

.article-desciption {
    color: #262626;
    text-decoration: none;
    display: inline-block;
    max-width: 100%;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 736px) {
    .article-desciption {
        font-size: 15px;
        line-height: 18px;
    }
}

.div-image-item {
    /*padding-bottom: 100%;*/
    display: block;
    overflow: hidden;
}

    .div-image-item img {
        /*height:100%;*/
        width: 100%;
    }

.div-div-image-item {
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    box-shadow: inset 0 0 20px 0 #efefef;
    background-color: #edeeee;
    display: block;
    width: 100%;
}

.show-image-item {
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    top: 0;
}

@media (min-width: 736px) {
    .footer-article {
        padding: 0 4px;
    }
}

@media (max-width: 736px) {
    .footer-article {
        padding: 0 2px;
    }
}

@media (min-width: 736px) {
    .footer-article {
        font-size: 15px;
        line-height: 18px;
    }
}

@media (min-width: 736px) {
    .footer-like-box:first-child {
        margin-top: 10px;
    }
}

@media (max-width: 736px) {
    .footer-like-box:first-child {
        margin-top: 5px;
    }
}

.footer-like-box {
    margin-bottom: 5px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.div-like-box {
    webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    color: #262626;
    display: block;
    padding: 0 10px;
}

@media (max-width:736px) {
    .div-like-box {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.div-top-bar {
    /*border-bottom: 1px solid #5a5858;*/
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /*background-color: #131517;*/
    background-image: radial-gradient(#202529,#020d17);
    height: 77px;
}

.logo-in-top-bar {
    color: #003569;
    text-decoration: none;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    left: 0;
    margin-top: 10px;
    position: relative;
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 160px;
    border-radius:50px
}

.like-box-count {
    font-weight: 500;
}

.coment-box-count {
    float: right;
}

.share-box-count {
    float: right;
}

.box-btn {
    font-size: 21px;
    cursor: pointer;
    font-weight: 500;
}

    .box-btn i {
        font-size: 23px;
    }

@media (max-width: 736px) {
    .box-btn {
        font-size: 18px;
    }

        .box-btn i {
            font-size: 20px;
        }
}

@media (max-width: 480px) {
    .box-btn {
        font-size: 18px;
    }

        .box-btn i {
            font-size: 20px;
        }
}

@media (max-width: 320px) {
    .box-btn {
        font-size: 15px;
    }

        .box-btn i {
            font-size: 15px;
        }
}





.footer-btn-option {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin-left: 5px;
    margin-right: -10px;
    padding: 0;
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
    background-image: url(https://instagramstatic-a.akamaihd.net/h1/sprites/core/684453.png);
    background-repeat: no-repeat;
    background-position: -493px -448px;
    height: 44px;
    width: 44px;
}

.form-comment {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    color: #999;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

.footer-button-like {
    color: #003569;
    text-decoration: none;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: -9px;
    margin-right: 3px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.button-like {
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
    background-image: url(//instagramstatic-a.akamaihd.net/h1/sprites/core/684453.png);
    background-repeat: no-repeat;
    background-position: -130px -635px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
}

@media (min-width: 736px) {
    .footer-comment {
        margin-top: 13px;
    }
}

@media (max-width: 736px) {
    .footer-comment {
        margin-top: 0px;
    }
}

@media (min-width: 736px) {
    .footer-comment {
        min-height: 68px;
    }
}

.footer-comment {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #efefef;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    /*padding:0 10px*/
}

@media (min-width: 736px) {
    .input-comment {
        font-size: 15px;
        line-height: 18px;
    }
}

.input-comment {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background: 0 0;
    border: none;
    color: #262626;
    outline: none;
    width: 100%;
    -webkit-appearance: none;
    font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}

.list-comment {
    margin: 5px 0 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

ul {
    list-style: none;
}

.item-comment {
    margin-bottom: 0;
    position: relative;
    word-wrap: break-word;
    margin-bottom: 7px;
}

@media (min-width: 736px) {
    .content-comment {
        font-size: 15px;
        line-height: 18px;
    }
}

.content-comment {
    color: #262626;
    text-decoration: none;
    margin-right: .3em;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    margin-left: -5px;
}

.h-comment {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

@media (min-width: 736px) {
    .item-comment-many {
        font-size: 15px;
        line-height: 18px;
    }
}

.item-comment-many {
    vertical-align: middle;
    cursor: pointer;
    background: 0 0;
    border: none;
    color: #999;
    outline: none;
    padding: 0;
    margin: 0;
}

.open-in-app {
    display: none;
}

.open-in-app {
    -webkit-animation: GradientAnimation 40s ease infinite;
    animation: GradientAnimation 40s ease infinite;
    background: -webkit-linear-gradient(180deg,#0c9436,#0a1706);
    background: linear-gradient(270deg,#0c9436,#0a1706);
    background-size: 300% 300%;
    border-radius: 80px;
    bottom: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.5);
    height: 40px;
    left: 50%;
    margin: 0 auto;
    position: fixed;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 3;
}

@media (max-width:767px) {
    .open-in-app {
        display: flex;
    }
}

/*@media (max-width:320px)
{
    .open-in-app {
         bottom: 85px;
    }
}
@media (max-width:414px)
{
    .open-in-app {
         bottom: 160px;
    }
}
@media (max-width:412px)
{
    .open-in-app {
         bottom: 85px;
    }
}

@media (max-width:360px)
{
    .open-in-app {
         bottom: 125px;
    }
}*/

.span-open-in-app {
    margin-bottom: 7px;
    margin-top: 7px;
    text-decoration: none;
}

.a-open-in-app {
    border-right: 1px solid #fff;
    color: #fff;
    font-weight: 300;
    letter-spacing: .2px;
    line-height: 27px;
    margin-right: 35px;
    padding-left: 21px;
    padding-right: 10px;
    min-width: 90px;
    text-align: center;
    white-space: nowrap;
}

.x-open-in-app {
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    line-height: 26px;
    position: absolute;
    /*padding-left: 10px;*/
    padding-top: 5px;
    padding-bottom: 10px;
    right: 1px;
    top: 0;
    width: 26px;
    text-decoration: none;
}
