﻿@{
    ViewBag.Title = "About";
}

<script src="https://www.gstatic.com/firebasejs/6.6.0/firebase-app.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/6.6.0/firebase-auth.js"></script>
<script src="https://cdn.firebase.com/libs/firebaseui/4.2.0/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/4.2.0/firebaseui.css" />

<div id="firebaseui-auth-container"></div>

<script>
    var firebaseConfig = {
            apiKey: "AIzaSyBhniyXjkwCIXWT2noUMclu6wTeYcJ84ZE",
            authDomain: "sontungmtp-56bcc.firebaseapp.com",
            databaseURL: "https://sontungmtp-56bcc.firebaseio.com",
            projectId: "sontungmtp-56bcc",
            storageBucket: "sontungmtp-56bcc.appspot.com",
            messagingSenderId: "745408950616",
            appId: "1:745408950616:web:c16bb5f796054ef1c4352d"
        };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    var uiConfig = {
        signInOptions: [

        ],
        tosUrl: 'https://myxteam.com/dieu-khoan-su-dung.html',
        privacyPolicyUrl: 'https://myxteam.com/chinh-sach-bao-mat-122.html#myxteam',
        callbacks: {
            //signInSuccessWithAuthResult: function (authResult, redirectUrl) {
            //    console.log('authResult');
            //    console.log(authResult);
            //    console.log('redirectUrl');
            //    console.log(redirectUrl);
            //    return false;
            //},
            uiShown: function () {
                //hack truyền email vào vì firebaseUI chưa hỗ trợ, nếu hỗ trợ thì sẽ bỏ https://github.com/firebase/firebaseui-web/issues/624
                
            },
            signInSuccess(currentUser, credential, redirectUrl) {
                console.log('currentUser');
                console.log(currentUser);
                console.log('credential');
                console.log(credential);
                currentUser.getIdToken()
                    .then(function (idToken) {
                        console.log('idToken', idToken);
                        
                        @*$.ajax({
                            url: '/Member/FBVerify',
                            data: JSON.stringify({ token: idToken, isphone: true, verify: ('@Verify' == 'True' || '@Verify' == 'true') }),
                            type: 'POST',
                            traditional: true,
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            error: function (xhr) {
                                result = false;
                                //alert('Error: ' + xhr.statusText);
                            },
                            success: function (res) {
                                console.log(res);
                            }
                        })*@
                    })
                    .catch(function (err) { console.log('err', err); });
                return false;
            }
        }
    };
   
    var phone = '+84943282606';
    var phoneOption = {
        provider: firebase.auth.PhoneAuthProvider.PROVIDER_ID,
        defaultCountry: 'VN'
    };
    if (phone.startsWith('+')) {
        phoneOption.loginHint = phone;
    }
    else {
        phoneOption.defaultNationalNumber = phone;
    }

    uiConfig.signInOptions.push(phoneOption);
        
   
    // Initialize the FirebaseUI Widget using Firebase.
    var ui = new firebaseui.auth.AuthUI(firebase.auth());
    // The start method will wait until the DOM is loaded.
    ui.start('#firebaseui-auth-container', uiConfig);
</script>
