﻿@{
    ViewBag.Title = "Home Page";
    string VirtualDirectory = System.Configuration.ConfigurationManager.AppSettings.Get("virtualDirectory");
}

<div class="m-login__signin">
    <div class="m-login__head">
        <h3 class="m-login__title">
            Xác thực Email
        </h3>
    </div>
</div>
<div class="m-portlet" style="margin-top:30px">
    <div class="m-portlet__body">
        <div class="m-section__content">
            <div class="alert alert-success" role="alert" style="display:none" id="divSuccess">
                <strong>
                    Chúc mừng!
                </strong>
                Bạn đã xác thực Email thành công.
            </div>
            <div class="alert alert-danger" role="alert" style="display:none" id="divErrorLink">
                <strong>
                    Lỗi!
                </strong>
                Link không hợp lệ hoặc quá hạn.
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-app.js"></script>
    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyBhniyXjkwCIXWT2noUMclu6wTeYcJ84ZE",
            authDomain: "sontungmtp-56bcc.firebaseapp.com",
            databaseURL: "https://sontungmtp-56bcc.firebaseio.com",
            projectId: "sontungmtp-56bcc",
            storageBucket: "sontungmtp-56bcc.appspot.com",
            messagingSenderId: "745408950616",
            appId: "1:745408950616:web:c16bb5f796054ef1c4352d"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>
    <script>
        var urlParams = new URLSearchParams(window.location.search);

        $.ajax({
            url: '@(VirtualDirectory)/check',
            data: JSON.stringify({ url: window.location.href }),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            error: function (xhr) {
                console.log(xhr);
            },
            success: function (res) {
                console.log(res);
                switch (res.ErrorCode) {
                    case 0: {
                        $('#divSuccess').show();
                        break;
                    }
                    case 107: {
                        $('#divErrorLink').show();
                        break;
                    }
                    case 104: {
                        $('#divErrorLink').show();
                        break;
                    }
                }
            }
        });

    </script>
}
